*.py[cod]
.states
__pycache__/
*.db
.web
assets/external/
# Archivos de variables de entorno (Contienen llaves, tokens y contraseñas)
# .env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Archivos de configuración personal o del sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs y bases de datos locales
*.log
*.sqlite
/db.sqlite3

# Carpetas de dependencias (para que no pesen en el repo)
node_modules/
vendor/

# Ignorar un archivo de Excel específico
Datos/Practica_Provisionales.xlsx

# Ignorar un archivo CSV específico
Datos/Practica_Provisionales.csv
Datos/Practica_Provisionales_2025.csv
Datos/Practica_Provisionales_2026.csv
Datos/Practica_Provisionales_2027.csv
Datos/a2026.csv
Datos/Practica_Provisionales_2028.csv
Datos/Corte_Transversal.csv
Datos/Enero_2026.csv
Datos/Exitus_2025.xlsx
Datos/Exitus_2025.csv
/entorno_local
Datos/Datos_Necesitamos.xlsx
Datos/Datos_Necesitamos.xlsx
*.aux
*.bbl
*.blg
*.lof
*.lot
*.out
*.gz
*.toc
